body{
background: #000000 url('images/bg1.jpg');
padding: 35px 0px 35px 0px;
font-size: 10pt;
font-family: "georgia", "times new roman", serif;
color: #333333;
}
p{
line-height: 1.5em;
margin-bottom: 1.0em;
text-align: justify;
}
a{
color: #B96D00;
text-decoration: underline;
}
a:hover{
text-decoration: none;
}
h4{
display: inline;
font-weight: bold;
background-repeat: no-repeat;
background-position: right;
font-size: 1.7em;
padding-right: 28px;
}
.contentarea{
padding-top: 1.3em;
}
.divider2{
position: relative;
height: 1px;
border-bottom: solid 1px #eaeaea;
margin: 2.0em 0em 2.0em 0em;
}

.post ul.controls li{
display: inline;
font-size: 0.8em;
}

.post ul.controls li a{
background-repeat: no-repeat;
background-position: left;
padding: 0em 1.0em 0em 20px;
}
#outer{
z-index: 2;
position: relative;
width: 960px;
border: solid 7px #fff;
background-color: #fff;
margin: 0 auto;
}
#header{
position: relative;
width: 100%;
height: 140px;
background: #2B2B2B;
margin-bottom: 2px;
}
#headercontent{
bottom: 0em;
padding: 0em 2.0em 1.3em 2.0em;
color: white;
}
#search{
position: absolute;
top: 5.5em;
right: 2.0em;
padding-right: 0.0em;
}
#search .text{
margin-right: 0.5em;
vertical-align: middle;
border-top: solid 1px #000000;
border-right: 0px;
border-bottom: solid 1px #777777;
border-left: 0px;
padding: 0.15em;
width: 10.0em;
}
#search .submit{
background: #939B00 url('images/buttonbg.gif') repeat-x;
border: solid 1px #5F6800;
font-weight: bold;
padding: 0.25em;
font-size: 0.8em;
color: #F2F3DE;
vertical-align: middle;
}
#menu{
position: relative;
background: #7F8400 url('images/menubg.gif') repeat-x top left;
height: 3.5em;
padding: 0em 1.0em 0em 1.0em;
margin-top: 4px;
margin-bottom: 2px;
}
#menu ul{
position: absolute;
top: 1.1em;
}
#menu ul li{
position: relative;
display: inline;
}
#menu ul li a{
padding: 0.5em 1.0em 0.9em 1.0em;
color: #fff;
text-decoration: none;
}
#menu ul li a:hover{
text-decoration: underline;
}
#menu ul li a.active{
background: #7F8400; 
}
#menubottom{
background: #fff url('http://i.imgur.com/IbYJ893.png/border1.gif') repeat-x;
height: 14px;
margin-bottom: 1.5em;
}
#login{
float: right;
width: 250px;
}
#login .login{
margin: 4px;
}
#content_main{
padding: 0em 2.0em 0em 2.0em;
}
#register_form{
width: 240px;
height: 240px;
text-align: center;
position: relative;
left: 690px;
top: 80px;
z-index: -1;
border: 1px solid gray;
}
#register_form .reg{
margin: 5px;
}
#notification{
padding: 10px;
border: 1px solid black;
width: 650px;
height: 80px;
margin-top: -250px;
}
#notification h5{
background: yellow;
width: 40px;
height: 20px;
color: red;
font-weight: bold;
text-align: center;
margin-left: 4px;
margin-top: 0;
}
#notification span{
display: inline-block;
font-size: 10px;
margin-top: -10px;
}
#forum_container{
padding: 10px;
position: relative;
left: 25px;
top: 20px;
margin-right: -18.0em;
width: 650px;
border: 2px solid gray;
}
#primarycontent{
margin: 1.5em 22.0em 0em 0em;
}
#user_nav{
margin-top: 1.5em;
float: right;
width: 250px;
border: 1px solid gray;
}
#footer{
position: relative;
height: 2.0em;
clear: both;
padding-top: 5.0em;
background: #fff url('images/border2.gif') repeat-x 0em 2.5em;
font-size: 0.8em;
}
#footer .left{
position: absolute;
left: 2.0em;
bottom: 1.2em;
}
